extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Travis

        p Web Developer


        .about-bio

          p I am extremely passionate and fully dedicated to learning web development. I am a fast learner and know that I will be a great addition to your team!


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 555-555-1234
          li alstrand.travis@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/travis-alstrand-033578232/', target='_blank') LinkedIn
        a.btn-link(href='https://github.com/travisalstrand', target='_blank') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back