extends layout.pug

block content

  article.portfolio-intro

    h1 My Portfolio

    p This is a project utilizing express, pug and node to showcase other projects I've completed in the past. 


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in data.projects
        .cell
          a(href=`/project/${project.id}`, target='_blank')
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`screenshot of ${project.project_name}`)
            h5 #{project.project_name}